# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [6]:
# you must populate this dict with the schools required -> try talking to the teaching team about this

schools = {   
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035    
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests

def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    # we use ID
    #reviews['school'] = school
    reviews['school_id'] = school_id
    return reviews

In [7]:
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)

ironhack
app-academy
springboard

In [9]:
# remove body column as replaced by review_body -> to do with loop through kill column list
comments.drop('body', inplace=True, axis=1)
comments.drop('user', inplace=True, axis=1)
comments.drop('comments', inplace=True, axis=1)
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,createdAt,queryDate,program,overallScore,overall,curriculum,jobSupport,review_body,school
0,269512,Anonymous,True,None,2019.0,False,Full stack developer,"Great qualified teachers but unorganized, not ...",10/20/2020,2020-10-20,,2.7,3.0,4.0,1.0,I attended the Berlin bootcamp and the biggest...,ironhack
1,269343,Felipe,False,None,2020.0,False,Unemployed,"UX UI Iron Hack Sao Paulo, be careful before y...",10/13/2020,2020-10-13,UX/UI Design Bootcamp,3.3,2.0,5.0,3.0,(Por favor copie e cole no google tradutor se ...,ironhack
2,269201,Ozzie Zamora,False,None,2020.0,False,UI Designer,UX/UI Design Part-Time | Miami,10/7/2020,2020-10-07,UX/UI Design Part-Time,5.0,5.0,5.0,5.0,"A truly amazing experience, to be honest. I wa...",ironhack
3,269141,Sacha Dollé,False,None,2020.0,False,Data Analyst,"Great bootcamp, great team, great learning",10/6/2020,2020-10-06,Data Analytics Bootcamp,5.0,5.0,5.0,5.0,I use to work in advertisement and decided to ...,ironhack
4,269133,Calypso Redor,False,None,2020.0,False,Product Designer,Une superbe expérience,10/6/2020,2020-10-06,,5.0,5.0,5.0,5.0,« On m’avait prévenu de ce que voulait dire « ...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693,234894,Stephanie S.,False,None,2015.0,True,Website Manager-UX Lead,Excellent and comprehensive UX course,12/15/2016,2016-12-15,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard
694,234877,Joe Fang,False,None,2015.0,True,UX Designer,Springboard helped me start my career in UX,12/15/2016,2016-12-15,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard
695,234838,Zeina,False,None,2016.0,True,Senior Graphic Designer,Highly recommended,12/15/2016,2016-12-15,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard
696,242681,Jean,False,None,2016.0,True,Lead Designer/Creative Director,A way to stay current for the highly motivated!,12/12/2016,2016-12-12,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard
697,234178,Ben,False,None,2016.0,True,None,Springboard is an excellent course for self dr...,12/10/2016,2016-12-10,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard

In [12]:
#df = df.astype(object).where(pd.notnull(df), None)
# replace Pandas NaN to NULL for SQL
comments = comments.astype(object).where(pd.notnull(comments), None)
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,createdAt,queryDate,program,overallScore,overall,curriculum,jobSupport,review_body,school
0,269512,Anonymous,True,None,2019,False,Full stack developer,"Great qualified teachers but unorganized, not ...",10/20/2020,2020-10-20,,2.7,3.0,4.0,1.0,I attended the Berlin bootcamp and the biggest...,ironhack
1,269343,Felipe,False,None,2020,False,Unemployed,"UX UI Iron Hack Sao Paulo, be careful before y...",10/13/2020,2020-10-13,UX/UI Design Bootcamp,3.3,2.0,5.0,3.0,(Por favor copie e cole no google tradutor se ...,ironhack
2,269201,Ozzie Zamora,False,None,2020,False,UI Designer,UX/UI Design Part-Time | Miami,10/7/2020,2020-10-07,UX/UI Design Part-Time,5.0,5.0,5.0,5.0,"A truly amazing experience, to be honest. I wa...",ironhack
3,269141,Sacha Dollé,False,None,2020,False,Data Analyst,"Great bootcamp, great team, great learning",10/6/2020,2020-10-06,Data Analytics Bootcamp,5.0,5.0,5.0,5.0,I use to work in advertisement and decided to ...,ironhack
4,269133,Calypso Redor,False,None,2020,False,Product Designer,Une superbe expérience,10/6/2020,2020-10-06,,5.0,5.0,5.0,5.0,« On m’avait prévenu de ce que voulait dire « ...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693,234894,Stephanie S.,False,None,2015,True,Website Manager-UX Lead,Excellent and comprehensive UX course,12/15/2016,2016-12-15,UX Design,5.0,5.0,5.0,5.0,The UX Design Workshop gave me a great underst...,springboard
694,234877,Joe Fang,False,None,2015,True,UX Designer,Springboard helped me start my career in UX,12/15/2016,2016-12-15,UX Design,5.0,5.0,5.0,5.0,"Just some background information on myself, I ...",springboard
695,234838,Zeina,False,None,2016,True,Senior Graphic Designer,Highly recommended,12/15/2016,2016-12-15,UX Design,3.7,4.0,4.0,3.0,"I enjoyed the program very much, gained a lot ...",springboard
696,242681,Jean,False,None,2016,True,Lead Designer/Creative Director,A way to stay current for the highly motivated!,12/12/2016,2016-12-12,UX Design,5.0,5.0,5.0,5.0,This was my first online experience and it did...,springboard
697,234178,Ben,False,None,2016,True,None,Springboard is an excellent course for self dr...,12/10/2016,2016-12-10,UX Design,4.7,5.0,5.0,4.0,I really enjoyed my time with the Springboard ...,springboard

In [11]:
# Test to SQL
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://{user}:{pw}@database-1.cq4pvdaebaqt.us-east-2.rds.amazonaws.com/{db}"
                       .format(user="root",
                               pw="letmein123",
                               db="sql_project"))
# Insert whole DataFrame into MySQL
comments.to_sql('comments', con = engine, if_exists = 'append', chunksize = 1000)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'index' in 'field list'")
[SQL: INSERT INTO comments (`index`, id, name, anonymous, `hostProgramName`, `graduatingYear`, `isAlumni`, `jobTitle`, tagline, `createdAt`, `queryDate`, program, `overallScore`, overall, curriculum, `jobSupport`, review_body, school) VALUES (%(index)s, %(id)s, %(name)s, %(anonymous)s, %(hostProgramName)s, %(graduatingYear)s, %(isAlumni)s, %(jobTitle)s, %(tagline)s, %(createdAt)s, %(queryDate)s, %(program)s, %(overallScore)s, %(overall)s, %(curriculum)s, %(jobSupport)s, %(review_body)s, %(school)s)]
[parameters: ({'index': 0, 'id': 269512, 'name': 'Anonymous', 'anonymous': 1, 'hostProgramName': None, 'graduatingYear': 2019.0, 'isAlumni': 0, 'jobTitle': 'Full stack developer', 'tagline': 'Great qualified teachers but unorganized, not transparent and poor alumni support.', 'createdAt': '10/20/2020', 'queryDate': '2020-10-20', 'program': '', 'overallScore': '2.7', 'overall': '3.0', 'curriculum': '4.0', 'jobSupport': '1.0', 'review_body': 'I attended the Berlin bootcamp and the biggest pro is that the teachers and assistants are highly qualified and have real experience in the industry. ... (648 characters truncated) ... terial. The worse part of this entire experience is that they never addressed our concerns. I would not recommend studying at this bootcamp!Read Less', 'school': 'ironhack'}, {'index': 1, 'id': 269343, 'name': 'Felipe', 'anonymous': 0, 'hostProgramName': None, 'graduatingYear': 2020.0, 'isAlumni': 0, 'jobTitle': 'Unemployed', 'tagline': 'UX UI Iron Hack Sao Paulo, be careful before you sign up. Excellent curriculum, but poor customer service.', 'createdAt': '10/13/2020', 'queryDate': '2020-10-13', 'program': 'UX/UI Design Bootcamp', 'overallScore': '3.3', 'overall': '2.0', 'curriculum': '5.0', 'jobSupport': '3.0', 'review_body': "(Por favor copie e cole no google tradutor se você é um futuro estudante e esta pesquisando sobre qual escola ir) Covid 19, lost my Grandpa, lost two ... (1525 characters truncated) ... the link for the recording class, that's it! I Paid for that, that's why I think it’s the minimum thing that I could get back from you guys.Read Less", 'school': 'ironhack'}, {'index': 2, 'id': 269201, 'name': 'Ozzie Zamora', 'anonymous': 0, 'hostProgramName': None, 'graduatingYear': 2020.0, 'isAlumni': 0, 'jobTitle': 'UI Designer', 'tagline': 'UX/UI Design Part-Time | Miami', 'createdAt': '10/7/2020', 'queryDate': '2020-10-07', 'program': 'UX/UI Design Part-Time', 'overallScore': '5.0', 'overall': '5.0', 'curriculum': '5.0', 'jobSupport': '5.0', 'review_body': 'A truly amazing experience, to be honest. I was part of the Part-Time UX Design course for 6 months, and I cannot really describe how much I enjoyed  ... (1579 characters truncated) ...  people fail after the course, in my opinion)- Participate in meetups and reach out to the community for help if necessary, do not be afraidRead Less', 'school': 'ironhack'}, {'index': 3, 'id': 269141, 'name': 'Sacha Dollé', 'anonymous': 0, 'hostProgramName': None, 'graduatingYear': 2020.0, 'isAlumni': 0, 'jobTitle': 'Data Analyst', 'tagline': 'Great bootcamp, great team, great learning', 'createdAt': '10/6/2020', 'queryDate': '2020-10-06', 'program': 'Data Analytics Bootcamp', 'overallScore': '5.0', 'overall': '5.0', 'curriculum': '5.0', 'jobSupport': '5.0', 'review_body': "I use to work in advertisement and decided to move into data through a bootcamp.I was in Paris' June Data Analysis bootcamp, which were 100% remote d ... (260 characters truncated) ...  to learn efficiently in such a short time.I'm really glad I had the chance to attend this bootcamp, because today I'm a proud Data Analyst.Read Less", 'school': 'ironhack'}, {'index': 4, 'id': 269133, 'name': 'Calypso Redor', 'anonymous': 0, 'hostProgramName': None, 'graduatingYear': 2020.0, 'isAlumni': 0, 'jobTitle': 'Product Designer', 'tagline': 'Une superbe expérience', 'createdAt': '10/6/2020', 'queryDate': '2020-10-06', 'program': '', 'overallScore': '5.0', 'overall': '5.0', 'curriculum': '5.0', 'jobSupport': '5.0', 'review_body': '«\xa0On m’avait prévenu de ce que voulait dire «\xa0bootcamp\xa0» mais je ne m’attendais pas à un tel rythme\xa0», c’est ce que j’ai beaucoup dit en  ... (456 characters truncated) ... s. Nous avons réalisé la formation à distance et ce fut tellement concluant que je compte travailler en entreprise full remote très bientôt.Read Less', 'school': 'ironhack'}, {'index': 5, 'id': 269115, 'name': 'Linda Mai Phung', 'anonymous': 0, 'hostProgramName': None, 'graduatingYear': 2020.0, 'isAlumni': 0, 'jobTitle': 'Product Designer', 'tagline': 'Intensive as promised, supportive teachers and staffs members, good content.', 'createdAt': '10/5/2020', 'queryDate': '2020-10-05', 'program': '', 'overallScore': '4.3', 'overall': '5.0', 'curriculum': '5.0', 'jobSupport': '3.0', 'review_body': 'I am very satisfied of my training this summer at Ironhack Paris. Even with the pandemic issues, the classes were taught easily via videoconference.  ... (609 characters truncated) ... rogram however, be sure to confirm what you really will get as there are re-adjusting their offer according to the current covid- situation.Read Less', 'school': 'ironhack'}, {'index': 6, 'id': 269104, 'name': 'Alice Prigent', 'anonymous': 0, 'hostProgramName': None, 'graduatingYear': 2020.0, 'isAlumni': 0, 'jobTitle': '', 'tagline': 'A unique and enriching experience!', 'createdAt': '10/5/2020', 'queryDate': '2020-10-05', 'program': 'Web Development Bootcamp', 'overallScore': '4.3', 'overall': '5.0', 'curriculum': '4.0', 'jobSupport': '4.0', 'review_body': 'I am delighted to have been able to realize a web development bootcamp at IronHack. Despite the context (covid-19), the classes went well and we rece ... (248 characters truncated) ... e bootcamp. As is the career service that helps us find a job after the training. A great experience, I will do it again without hesitation!Read Less', 'school': 'ironhack'}, {'index': 7, 'id': 269103, 'name': 'Manon Morgaut', 'anonymous': 0, 'hostProgramName': None, 'graduatingYear': 2020.0, 'isAlumni': 0, 'jobTitle': '', 'tagline': 'Intensive but definitely worth it', 'createdAt': '10/5/2020', 'queryDate': '2020-10-05', 'program': 'Web Development Bootcamp', 'overallScore': '5.0', 'overall': '5.0', 'curriculum': '5.0', 'jobSupport': None, 'review_body': "I decided to follow Ironhack's program in the context of changing jobs from sales to Product Management. The objective was to develop the necessary t ... (980 characters truncated) ... t a lot of time doing discovery before actually starting the development phase, and both the teacher and TA supported me on this initiative.Read Less", 'school': 'ironhack'}  ... displaying 10 of 1000 total bound parameter sets ...  {'index': 17, 'id': 267575, 'name': 'Kristen Chauncey', 'anonymous': 0, 'hostProgramName': None, 'graduatingYear': 2020.0, 'isAlumni': 1, 'jobTitle': '', 'tagline': 'Fantastic Experience with a/A Full Stack Online Bootcamp - JavaScript, Python', 'createdAt': '8/18/2020', 'queryDate': '2020-08-18', 'program': 'Software Engineer Track: Online', 'overallScore': '5.0', 'overall': '5.0', 'curriculum': '5.0', 'jobSupport': '5.0', 'review_body': 'I have loved my experience at App Academy. The curriculum has been rigorous but thorough. Not only did we learn the fundamentals, but we learned how  ... (360 characters truncated) ... f you look for it. I have enjoyed my time at a/A and cannot recommend this program enough to all those who are trying to find the right fit.Read Less', 'school': 'app-academy'}, {'index': 18, 'id': 267543, 'name': 'Giancarlo Sanchez', 'anonymous': 0, 'hostProgramName': None, 'graduatingYear': 2020.0, 'isAlumni': 0, 'jobTitle': '', 'tagline': 'Great experience', 'createdAt': '8/17/2020', 'queryDate': '2020-08-17', 'program': 'Software Engineer Track: Online', 'overallScore': '5.0', 'overall': '5.0', 'curriculum': '5.0', 'jobSupport': '5.0', 'review_body': "I came to App Academy with some previous knowledge in programming and computer science. I just finished the 24-week online program, it wasn't easy bu ... (417 characters truncated) ... rom tech companies increasing the chances of landing a great job. App Academy provided everything I was looking for and I am a proud alumni!Read Less", 'school': 'app-academy'})]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [23]:
# Opening and initializing the SQL connection

import mysql.connector
cnx = mysql.connector.connect(user = 'root',password = 'letmein123', host ='database-1.cq4pvdaebaqt.us-east-2.rds.amazonaws.com', database = 'sql_project')
#cnx = mysql.connector.connect(user = 'root',password = 'letmein123', host ='localhost', database = 'sql_project')

if cnx.is_connected():
    print("Connection open")
    # do stuff you need to the database
else:
    print("Connection is not successfully open")

cursor = cnx.cursor()

Connection open

In [14]:
# Inserting Comments Data
# creating column list for insertion
cols = "`,`".join([str(i) for i in comments.columns.tolist()])
# Insert DataFrame recrds one by one.
for i,row in comments.iterrows():
    sql = "INSERT INTO `comments` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

In [17]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    # No need, we use ID
    #locations_df['school'] = school
    #courses_df['school'] = school
    #badges_df['school'] = school
    #school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

<ipython-input-17-7111c633f1e2>:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  locations_df = json_normalize(locations)

app-academy
springboard

In [18]:
locations_list

[      id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id                       description  country.id   country.name  \
 0  15704  San Francisco, CA, United States         1.0  United States
 1  15705  New York City, NY, United States         1.0  United States
 2  15862                            Online         NaN            NaN

   country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0             US         6  California           CA    california     13.0
 1             US        34    New York           NY      new-york   1507.0
 2            NaN         1      Online       Online        online      NaN

        city.name   city.keyword       school  school_id
 0  San Francisco  san-francisco  app-academy      10525
 1            NYC  new-york-city  app-academy      10525
 2            NaN            NaN  app-academy      10525  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16013      Online         1     Online       Online        online

         school  school_id
 0  springboard      11035  ]

In [24]:
locations = pd.concat(locations_list)

# replace Pandas NaN to NULL for SQL
locations = locations.astype(object).where(pd.notnull(comments), None)
locations

ValueError: operands could not be broadcast together with shapes (42,14) (14,14) ()

In [35]:
# Test to SQL
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://{user}:{pw}@database-1.cq4pvdaebaqt.us-east-2.rds.amazonaws.com/{db}"
                       .format(user="root",
                               pw="letmein123",
                               db="sql_project"))
# Insert whole DataFrame into MySQL
locations.to_sql('locations', con = engine, if_exists = 'append', chunksize = 1000)

In [8]:
# Inserting Location Data - OBSOLETE

# 2 Problems:
#    1) SQL does not accept '.' in table column name -> replace with '_'
#    2) Pandas NaN values do not automatically in NULL SQL values -> find solution

# creating column list for insertion
#cols = "`,`".join([str(i).replace('.','_') for i in locations.columns.tolist()])
# Insert DataFrame recrds one by one.
#for i,row in locations.iterrows():
#    sql = "INSERT INTO `locations` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
#    cursor.execute(sql, tuple(row))

In [25]:
courses = pd.concat(courses_list)
courses.head(10)

                              courses       school  school_id
0             Data Analytics Bootcamp     ironhack      10828
1            Data Analytics Part-Time     ironhack      10828
2               UX/UI Design Bootcamp     ironhack      10828
3              UX/UI Design Part-Time     ironhack      10828
4            Web Development Bootcamp     ironhack      10828
5           Web Development Part-Time     ironhack      10828
6             Cyber Security Bootcamp     ironhack      10828
0                       Bootcamp Prep  app-academy      10525
1  Software Engineer Track: In-Person  app-academy      10525
2     Software Engineer Track: Online  app-academy      10525

In [26]:
# Inserting Courses Data
# creating column list for insertion
cols = "`,`".join([str(i) for i in courses.columns.tolist()])
# Insert DataFrame recrds one by one.
for i,row in courses.iterrows():
    sql = "INSERT INTO `courses` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

In [27]:
badges = pd.concat(badges_list)
badges.head()

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
0,Available Online,available_online,<p>School offers fully online courses</p>,app-academy,10525
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,app-academy,10525

In [28]:
# Inserting Badges Data
# creating column list for insertion
cols = "`,`".join([str(i) for i in badges.columns.tolist()])
# Insert DataFrame recrds one by one.
for i,row in badges.iterrows():
    sql = "INSERT INTO `badges` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

In [31]:
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list)
schools.head()

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,"<span class=""truncatable""><p>App Academy is a ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035

In [32]:
# Inserting School Data
# creating column list for insertion
cols = "`,`".join([str(i) for i in schools.columns.tolist()])
# Insert DataFrame recrds one by one.
for i,row in schools.iterrows():
    sql = "INSERT INTO `schools` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

IntegrityError: 1062 (23000): Duplicate entry '10828' for key 'schools.PRIMARY'

In [36]:
# commiting and closing curser and connection with SQL

# saving any changes you did on the database
cnx.commit()
# clear the cursor
cursor.close()

# closes the door between python and SQL
cnx.close()